body{
    padding: 0;
    margin: 0;
}
.mers img{
    
    animation-name:mers;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
}
@keyframes mers{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  ;
    }
}
.mers {
  height: 40vh;
  background-image:url(../img/images.png);
  background-size: cover;
  
 

}
.eee img{
    display: flex;
  width: 340px; 
  
}

    


    
 

